* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 2.5rem;
}

